<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href={{ url_for('static', filename='styles/dashboard.css') }}>
    
    <script src={{ url_for('static', filename='scripts/dashboard.js') }} defer></script>

    <title>Сервис+ Админ</title>
</head>
<body>
    <div class="container">
        <div class="dashboard-container">
            <div class="services-container">
                <label for="service-select-container" class="service-select-label">Выберите приложение Сервис+</label>
                <div class="service-select-container" id="service-select-container">
                    <div class="select-buttons-container" id="services-select-buttons-container">
                        <button class="select-button" id="select-button" data-service="services">Услуги</button>
                        <button class="select-button" id="select-button" data-service="delivery">Доставка</button>
                        <button class="select-button" id="select-button" data-service="game">Игра</button>
                        <button class="select-button" id="select-button" data-service="sales" disabled>Продажи</button>
                    </div>
                    <div class="select-buttons-container" id="utils-select-buttons-container">
                        <button class="select-button" id="select-button" data-service="ads">Реклама</button>
                    </div>
                </div>
            </div>
            <div class="service-data-container">
                <header class="service-data-header">
                    <!-- Relevant tables names for a chosen app are displayed here -->
                </header>
                <div class="service-data-content">
                    <!-- The content of the chosen table is displayed here -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>
